.profile-personal-data-component {
    width: 343px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (max-width: 599px) {
    .profile-personal-data-component {
        width: 536px;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .profile-personal-data-component {
        width: 322px;
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .profile-personal-data-component {
        width: 363px;
    }
}

@media (min-width: 1200px) and (max-width: 1535px) {
    .profile-personal-data-component {
        width: 397px;
    }
}

@media (min-width: 1536px) {
    .profile-personal-data-component {
        width: 493px;
    }
}


.profile-personal-data-component__image {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.profile-personal-data-component__image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.profile-personal-data-component__data-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 16px;
    padding: 32px;
    width: 100%;
    background-color: #F9F9F9;
}

.profile-personal-data-component__contacts-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 16px;
    padding: 32px;
    width: 100%;
    background-color: #F9F9F9;
}

.profile-personal-data-component__data {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    border-bottom: 1px solid #D9D9D9;
}

.profile-personal-data-component__data:last-of-type {
    border-bottom: none;
}


.profile-personal-data-component__label {
    color: #666666;
}

.profile-personal-data-component__value {
    color: #3A3A3A
}