.language-toggle-component {
    position: relative;
    display: inline-block;
    width: 147px;
    height: 44px;
}

.language-toggle-component__current {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    justify-content: space-between;
    padding: 10px 8px 10px 8px;
    border-radius: 8px;
    transition: background-color 300ms ease-in-out;
}

.language-toggle-component__current:hover {
    background-color: #f0f0f0;
}

.language-toggle-component__name{
    padding-right: 15px;
}
.language-toggle-component__arrow {
    margin-left: 8px;
    transition: transform 300ms ease-in-out;
}

.language-toggle-component__arrow--open {
    transform: rotate(180deg);
}

.language-toggle-component__menu {
    display: flex;
    flex-direction: column;
    height: fit-content;
    flex-grow: 1;
    width: 166px;
    gap:10px;
    padding: 8px;
    position: absolute;
    right: 0;
    background-color: #F9F9F9;
    border-radius: 8px;
    margin-top: 8px;
}

.language-toggle-component__divider{
    width:100%;
    border: 1px solid #D9D9D9;
}

.language-toggle-component__option {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
}

.language-toggle-component__option:hover {
    background-color: #f0f0f0;
}

.language-toggle-component__option img {
    width: fit-content;
    height: fit-content;
}

.language-toggle-component__label {
    font-size: 16px;
    color: #3A3A3A;
}