.profile-page-component {
    min-height: 100%;
    display: flex;
}

.profile-page-component__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 200px 0px 200px;
}

.profile-page-component__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.profile-page-component__content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}