.profile-page-component {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;

    transition: all 0.3s ease-in-out;
}

@media (max-width: 1200px) {
    .profile-page-component {
        grid-template-rows: 1fr;
    }
}

.profile-page-component__title-name {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media (min-width:1201px) {
    .profile-page-component__title-name {
        display: none;
    }
}

@media (min-width:901px) {
    .profile-page-component__title-profile-name {
        display: none;
    }
}
@media (max-width:901px) {
    .profile-page-component__name{
        display: none;
    }
}

.profile-page-component__all-content-wrapper{
    display: flex;
    flex-direction: row;
    gap:20px;
    
}
@media (max-width:901px) {
    .profile-page-component__all-content-wrapper{
        flex-direction: column;
    }
}

.profile-page-component__name {
    color: #3A3A3A;
}