.user-card-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px 12px;
    background-color: #fff;
}

.user-card-component:hover {
    border-left: 2px solid #375FFF;
    background-color: #efefef;
}

.user-card-component__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-card-component__birthday,
.user-card-component__email {
    color: #3A3A3A;
}