.admin-useful-service-card__component {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    padding: 24px;
    gap: 20px;
    background-color: #f9f9f9;
}

.admin-useful-service-card__card-logo {
    width: 175px;
    height: 75px;
}

.admin-useful-service-card__card-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.admin-useful-service-card__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.admin-useful-service-card__link {
    text-decoration: none ! important;
    color: inherit;
}



.admin-useful-service-card__body-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;
    color: #3a3a3a;
    border-bottom: 1px solid #DFDFDF;
}



.admin-useful-service-card__body-row:last-child {
    border-bottom: none;
}

.admin-useful-service-card__body-column {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.admin-useful-service-card__body-terms img {
    display: flex;
    justify-content: center;
}

.admin-useful-service-card__label {
    color: #666666;
}

.admin-useful-service-card__body-terms {
    display: flex;
    justify-content: center;
}

.admin-useful-service-card__card-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-useful-service-card__card-actions {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.admin-useful-service-card__card-actions .icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


@media (max-width: 600px) {
    .admin-useful-service-card__component {
        flex-direction: column;
        padding: 16px;
    }

    .admin-useful-service-card__card-logo {
        width: 100%;
        height: 70px;
    }

    .admin-useful-service-card__body {
        gap: 12px;
    }

    .admin-useful-service-card__label {
        width: auto;
    }

    .admin-useful-service-card__card-actions {
        flex-direction: row;
        justify-content: flex-end;
    }
}