.events-page-component {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.events-page-component__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 1.5% 10% 0 5%;
}

.events-page-component__search-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    padding: 28px 32px;
    background-color: rgba(255, 255, 255, 1);
    gap: 12px;

}

.events-page-component__find {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;

    @media (max-width:599px) {
        flex-direction: column;

        .button-component {
            width: 100%;
        }
    }

    .input-text-component {
        width: 100%;
    }

    @media (min-width:600px) {
        .button-component {
            width: 20%;
        }
    }
}

.events-page-component__cards-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;

    @media (max-width:900px) {
        display: flex;
        flex-direction: column;
    }
}