.useful-services-component {
    min-height: 100vh;
    display: flex;
    width: 100%;
}

.useful-services-component__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1.5% 10% 0 5%;
    gap:20px;
}

.useful-services-component__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    width: 100%;
}

.useful-services-component__pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1201px) {
    .useful-services-component>.menu-component {
        display: none;
    }
}
