.certificates-page__component {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.certificates-page__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 1% 5% 0 2.5%;
}

.certificates-page__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFF;
    border-radius: 8px;
}

.certificates-page__cert-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 16px;
    width: 100%;
}