
.menu-component {
    height: 916px;
    position: relative;
    background-color: #F9F9F9;
    transition: all 0.3s ease;
}

.menu-component.open {
    width: 280px;
    min-height: 694px;
}

.menu-component.closed {
    width: 118px;
}

@media (max-width: 1200px) {
    .menu-component {
        height: 100%;
        background-color: #EFEFEF;
    }
    
    .menu-component.open {
        min-height: 694px;
        max-height: 916px;
        background-color: #F9F9F9;
    }
    
    .menu-component.closed {
        height: 100%;
    }
    
    .menu-component__avatar-wrapper,
    .menu-component__arrow {
        display: none;
    }
    
    .menu-component__burger {
        display: flex; 
        cursor: pointer;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
}

.menu-component__avatar-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
}

.menu-component__avatar {
    width: 65px;
    height: 65px;
    border-radius: 100px;
}

.menu-component__arrow {
    position: absolute;
    right: -15px;
    top: 6%;
    transform: translateY(-50%);
    background-color: #375FFF;
    border-radius: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.menu-component__arrow img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.menu-component__arrow img.rotated {
    transform: rotate(180deg);
}

.menu-component__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
}
