.certificates-personal-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.certificates-personal-data__tabs-header {
    display: flex;
    gap: 16px;
    padding: 0px 32px 0px 32px;
    border-bottom: 1px solid #d9d9d9;
}

.certificates-personal-data__tab {
    display: flex;
    flex-direction: column;
    padding: 20px 8px;

    h3 {
        color: #666666;
    }

    span {
        color: #666666
    }
}

.certificates-personal-data__tab--active {
    border-bottom: 2px solid #375fff;

    h3 {
        color: #375fff;
    }

    span {
        color: #375fff;
    }
}

.certificates-personal-data__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 32px;
    gap: 24px;
}

.certificates-personal-data__content-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9;
}

.certificates-personal-data__content-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.certificates-personal-data__column-label {
    color: #3a3a3a;
}