.service-card-component{
    width: 100%;
    height: fit-content;
    display: flex;
    border-radius: 8px;
    padding: 24px;
    gap:10px;
    background-color: #f9f9f9;
}
.service-card-component__content{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.service-card-component__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-card-component__body{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 16px;
}

.service-card-component__body__image{
    width: 175px;
    height: 75px;
    background-color: #e0e0e0;
}