.admin-page-component{
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: row;
}
.admin-page-component__wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3.3% 10% 0 5%;
}
.admin-page-component__header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:8px;
}

.admin-page-component__content{
    display: flex;
    flex-direction:row;
    gap: 20px;
    height: fit-content;
    width: 100%;
}