.login-page-component {
	min-height: 100%;
	display: grid;
	grid-template-rows: 64px 1fr;
	padding: 0 10% 32px 10%;

	@media only screen and (max-width: 375px) {
		padding: 0 5% 0 5%;
	}
}

.login-page-component__header {
	width: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
}

.login-page-component__content {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
	gap: 32px;
	justify-items: center;

	@media (min-width: 1200px) {
		align-items: center;
		grid-template-columns: 4fr 3fr;
		grid-template-rows: 1fr;
	}
}

.login-page-component__poster {
	width: 100%;
	max-width: 350px;
	max-height: 234px;

	@media (min-width: 1200px) {
		max-width: unset;
		max-height: unset;
	}
}

.login-page-component__card {
	display: flex;
	width: 100%;
	height: fit-content;
	max-width: 600px;
	flex-direction: column;
	align-items: center;
	gap: 48px;
	background-color: #fff;
	border-radius: 20px;
	padding: 20px;

	@media (min-width: 1200px) {
		padding: 45px 30px;
	}

	@media only screen and (max-width: 375px) {
		max-width: 343px;
		height: fit-content;
		gap:30px;
		padding: 20px;
	}
	
}


.login-page-component__form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.login-page-component__fields {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.login-page-component__actions {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.login-page-component__remember {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
	height: 100%;
	gap: 16px;
}

.login-page-component__label {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 120%;
	color: #666666;
}