.admin-detailed-event__page {
    display: flex;
    width: 100%;
}

.admin-detailed-event__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1% 5% 5% 2.5%;
    gap: 16px;
}

.admin-detailed-event__content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:8px;
}

.admin-detailed-event__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.admin-detailed-event__header-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}